<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBL App API</title>
</head>
<body>
    <div style="box-shadow: 10px 10px 10px 10px #88888822; height: 350px; width: 50%; margin: auto; padding: 0.5rem;">
        <h1>Welcome to Group 8's API</h1>
        <p>You likely want to go to one of the following pages: </p>
        <a href="listings/">To listings</a>
        <br>
        <a href="users/">To Users</a>

        <br>
        <h2>If you would like to download the app please click below: </h2>
        <a href="downloadAPK/">Download app here.</a>
    </div>
</body>
</html>