<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBL App API</title>
</head>
<body>
    <div style="box-shadow: 10px 10px 10px 10px #88888822; height: 650px; width: 80%; margin: auto; padding: 0.5rem;">
        <h1>Welcome to Group 8's API</h1>
        <p>You likely want to go to one of the following pages: </p>
        <a href="listings/">To listings</a>
        <br>
        <a href="users/">To Users</a>
        <br>
        <a href="offers/">To Offers</a>

        <br>
        <h2>If you would like to download the app please click below: </h2>
        <a href="downloadAPK/">Download app here.</a>
        <br>


        <h2>Requirements status: </h2>
        <iframe width="531" height="329" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRkTABtgl_UGstGd7dS-48Pq6SM6eMj4uOObz_85Tuh8v-KJoD4Ewb7pLINSPeCx3BK7V7Ud30BoO_L/pubchart?oid=95610787&amp;format=interactive"></iframe>
    </div>
</body>
</html>